python-dotenv==1.1.1
langchain==0.3.27
langchain-core==0.3.77
langchain-google-genai==2.1.12
# unstructured==0.18.15
unstructured
pydub==0.25.1
moviepy==1.0.3
reportlab
flask==3.1.2
flask-cors

# Note: Use Python 3.12 or earlier for deployment, as Python 3.13 removed the audioop module required by pydub.

# Credits:
# Aditya Singh
# -> GitHub: https://adityasinghcoding.github.io/
# -> LinkedIn: https://www.linkedin.com/in/adityasingh2022/
