.app {
   min-height: 100vh;
   /* background: linear-gradient(135deg, #667eea 30%, #764ba2 100%); */
   background-color: white;
}

.app-header {
   /* background: rgba(255, 255, 255, 0.1); */
   backdrop-filter: blur(50px);
   padding: 2rem;
   display: flex;
   align-items: center;
   justify-content: center;
   color: rgb(0, 0, 0);
   position: relative;

}

.app-logo {
   
   height: 120px; /* Adjust the height as needed */
   width: auto; /* Add some space between the logo and the h1 */
   margin-right: 10px;
   margin-bottom: 10px;
   
}

.app-header h1 {
   font-family: 'Poppins', sans-serif;
   margin: 0 0 0.5rem 0;
   font-size: 6rem;
   color: rgb(0, 0, 0);
   position: relative;
   /* text-shadow: 
      0 0 10px rgba(0, 0, 0, 0.3),
      0 0 20px rgba(0, 0, 0, 0.2),
      0 0 30px rgba(0, 0, 0, 0.1); */

      /* text-shadow:
      0 0 5px #fff,
      0 0 10px #fff,
      0 0 20px #fff,
      0 0 40px #0ff,
      0 0 80px #0ff; */

   }

.app-header p {
   font-family: 'Poppins', sans-serif;
   font-style: italic;
   position: absolute;
   top: 86%;
   left: 50%;
   transform: translateX(-50%);
   margin: 0;
   color: #bdbdbd;
   /* text-shadow: 
      0 0 10px rgba(0, 0, 0, 0.5),
      0 0 20px rgba(0, 0, 0, 0.3),
      0 0 30px rgba(0, 0, 0, 0.1); */
}

.app-main {
   padding: 6rem;
   max-width: 1200px;
   margin: 0 auto;
}
